* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
button,
select {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    --height: 56px;
    display: inline-block;
    min-width: 131px;
    height: var(--height);
    padding: 0 1.875em;
    line-height: var(--height);
    outline: none;
    border: 1px solid transparent;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn--primary {
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.section-heading {
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.section-desc {
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
}
/* Header */
.header {
    position: sticky;
    top: -18px;
    left: 0;
    z-index: 9;
    padding: 26px 0 8px;
    background: #fffaf5;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.header-action__signIn,
.navbar__link {
    padding: 8px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}

.navbar__link:hover {
    color: #000958;
    text-shadow: -0.1px 0 currentColor, 0.1px 0 currentColor;
}

.header-action__signUp {
    --height: 50px;
    min-width: 117px;
    color: #000958;
    border: 1px solid #000958b3;
    font-size: 1.4rem;
    font-weight: 600;
}

/* Hero */
.hero {
    display: flex;
    align-items: flex-end;
    height: calc(100vh - 84px);
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    column-gap: 121px;
}

.hero__media {
    position: relative;
    display: flex;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    margin-bottom: 94px;
    border-radius: 16px;
    overflow: hidden;
    background: #fff;
}

.hero__img-wrap::before {
    content: "";
    position: absolute;
    inset: 3px;
    background: #fe997b;
    border-radius: 16px;
}

.hero__img {
    position: absolute;
    bottom: 0;
    z-index: 1;
    max-width: 100%;
    max-height: 100%;
}

.hero__deco-top-right {
    position: absolute;
    z-index: -1;
    top: 17px;
    left: 377px;
}

.hero__decor-bottom-left {
    position: absolute;
    z-index: -1;
    top: 248px;
    left: -58px;
}

.hero__img-wrap-small {
    width: 186px;
    height: 244px;
    margin-bottom: 36px;
    margin-left: -24px;
    align-self: flex-end;
    background: #fcdcdf;
}

.hero__img-wrap-small::before {
    background: #faa7ad;
}

.hero__list {
    position: absolute;
    left: 129px;
    bottom: 0;
    z-index: 1;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.hero-item:nth-of-type(2) .hero-item__wrap-img {
    background: #c6e2fa;
}

.hero-item__wrap-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-radius: 10px;
    background: #fec23f;
    overflow: hidden;
}

.hero-item__thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-item__title {
    color: #181e52;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-item__skeleton {
    margin-top: 7px;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero-item__skeleton-small {
    width: 39px;
}

.hero__list-separate {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #f2f2f2;
    border-radius: 99px;
}

.hero__heading {
    max-width: 517px;
    color: #000958;
    font-family: Sora;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__desc {
    max-width: 391px;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.hero__cta-btn {
    --height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    min-width: 190px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.btn__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    color: var(--primary-color);
    flex-shrink: 0;
    box-shadow: 4px 3px 10px —1px rgba(191, 41, 0, 0.4);
}

.hero__cta-link {
    color: #000958;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;
}

/* About */
.about {
    margin: 77px 0 185px;
    padding-top: 53px;
}

.about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 146px;
    align-items: center;
    justify-content: space-between;
}

.about__media {
    position: relative;
}

.about__label {
    color: #5e6085;
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.about__heading {
    margin-top: 15px;
    max-width: 543px;
}

.about__desc {
    max-width: 511px;
    margin-bottom: 52px;
}

.about__checklist {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: flex-start;
    max-width: 477px;
    gap: 34px 36px;
    margin-top: 54px;
}

.about__check-item {
    --check-dimension: 24px;
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.about__check-item:hover::before {
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.about__check-item::before {
    content: "";
    width: var(--check-dimension);
    height: var(--check-dimension);
    flex-shrink: 0;
    border-radius: 4px;
    background: #ff5d31;
    transition: box-shadow 0.15s, filter 0.15s;
}

.about__check-item::after {
    position: absolute;
    top: 50%;
    translate: -50% -50%;
    left: calc(var(--check-dimension) / 2);
    content: url(../icons/check.svg);
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    padding: 31px 26px 29px;
    text-align: center;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card-title {
    color: #fff;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.43;
}

.about__card-decor {
    position: absolute;
    top: -39px;
    right: -32px;
}

.about__img-wrap {
    position: relative;
    max-width: 494px;
    margin-left: auto;
}

.about__img-wrap::after {
    content: "";
    position: absolute;
    inset: 215px 0 0 0;
    z-index: -1;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.about__img {
    display: block;
    max-width: 450px;
    margin: 0 auto;
}

.about__media-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -2;
}

.about__img-wrap-bottom {
    max-width: 458px;
    z-index: -2;
    border-radius: 18px;
    background: #fff;
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    margin-left: 0;
}

.about__img-wrap-bottom::after {
    inset: 2px;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: unset;
}

.about__img-bottom {
    max-width: 100%;
}

.about__decor-img {
    position: absolute;
    z-index: 2;
}

.about__decor-img:nth-child(1) {
    top: 13px;
    right: 63px;
}

.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__decor-img:nth-child(4) {
    top: 268px;
    right: -10px;
    translate: 100% 0;
}

.about__decor-img:nth-child(5) {
    top: 336px;
    right: 19px;
}

.about__decor-img:nth-child(6) {
    right: -24px;
    bottom: -40px;
}

.about__decor-img:nth-child(7) {
    right: -33px;
    bottom: -47px;
}

.about__decor-img:nth-child(8) {
    right: -42px;
    bottom: -55px;
}

.tab__list {
    position: relative;
    max-width: 557px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tab__content-more::after,
.tap__scroll::before,
.tap__scroll {
    content: "";
    position: absolute;
    height: 2px;
    inset: auto 0 0;
    background: rgba(255, 91, 46, 0.07);
    border-radius: 99px;
}

.tap__scroll::before {
    max-width: 94px;
    opacity: 1;
    background: #ff5b2e;
}

.tab__item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.tab__item ~ ::after {
    background: red !important;
}

.tab__title {
    color: #48496a;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.tab__content {
    padding-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__content-desc {
    max-width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.tab__content-more {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    padding-bottom: 5px;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.tab__content-more::after {
    opacity: 1;
    height: 1.5px;
    background-color: currentColor;
}

/* Service */
.service {
    padding: 68px 0 100px;
    background: #fff6ed;
}

.staff-item__info,
.staff__top,
.service__top {
    text-align: center;
}

.staff__desc,
.service__desc {
    color: #5e6085;
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 15px;
}

.service__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-top: 71px;
    column-gap: 71px;
}

.service-item {
    max-width: 294px;
    padding: 30px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.service-item + .service-item {
    margin-top: 24px;
}

.service-item__heading {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 12px;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service-item__heading::before {
    content: "";
    position: absolute;
    inset: 0 auto 0 0;
    width: 2px;
    border-radius: 99px;
    background: linear-gradient(to bottom, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service-item__desc {
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.service-item__more {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 24px;
    color: #34396a;
    font-family: "Sora", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1;
}

.service__media {
    position: relative;
    margin-top: 17px;
}

.service__media::after {
    content: "";
    position: absolute;
    inset: 243px 15px 0;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__img {
    position: relative;
    display: block;
    z-index: 1;
    width: 100%;
}

.service__cta-wrap {
    margin-top: 45px;
    text-align: center;
}

.staff__cta,
.service__cta {
    min-width: 214px;
    background: transparent;
    color: var(--primary-color);
    font-weight: 500;
    border-color: rgba(255, 91, 46, 0.6);
}

/* Staff */
.staff {
    padding: 130px 0;
}

.staff__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    margin-top: 45px;
}

.staff-item__img-wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 129.5px;
}

.staff-item__img-wrap::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 93%; 
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
    border-radius: inherit;
}

.staff-item__img-wrap::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    left: 50%;
    translate: -50% 0;
    width: 116%;
    height: 100%;
    background-position: bottom;
    background-size: 100% auto;
}

.staff-item:nth-child(1) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-01.svg);
}

.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff-item:nth-child(2) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-02.svg);
}

.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff-item:nth-child(3) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-03.svg);
}

.staff-item:nth-child(4) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item:nth-child(4) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-04.svg);
}

.staff-item:nth-child(even) .staff-item__img-wrap::after {
    background-position: 0 10%;
}

.staff-item__img {
    position: relative;
    display: block;
    z-index: 1;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.staff-item__info {
    margin-top: 34px;
}

.staff-item__title {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.staff-item__name {
    margin-top: 14px;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.staff__cta-wrap {
    margin-top: 48px;
    text-align: center;
}

.staff__cta {
    min-width: 193px;
}

/* Pricing */
.pricing {
    padding: 86px 0;
    background: #fff6ed;
}

.pricing__heading,
.pricing__desc {
    text-align: center;
}

.pricing__desc {
    max-width: 709px;
    margin-left: auto;
    margin-right: auto;
}

.pricing__switch-wrap {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing__switch-inner {
    position: relative;
}

.pricing__switch-label {
    --height: 56px;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 276px;
    height: var(--height);
    border-radius: 999px;
    border: 1px solid #ff5b2e99;
    color: var(--primary-color);
    font-weight: 500;
    user-select: none;
}

.pricing__switch-label::before {
    content: "";
    position: absolute;
    width: 145px;
    height: 100%;
    top: 0;
    left: 0;
    transition: left 0.25s ease, width 0.25s ease, transform 0.25s ease;
    background: var(--primary-color);
    border-radius: inherit;
}

.pricing__switch-value {
    position: relative;
    z-index: 1;
    padding: 0 40px;
    cursor: pointer;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: var(--height);
}

.pricing__switch-input:checked + .pricing__switch-label::before {
    left: 100%;
    transform: translateX(-100%);
    width: 131px;
}

.pricing__switch-input:checked
    + .pricing__switch-label
    .pricing__switch-value:first-child,
.pricing__switch-input:not(:checked)
    + .pricing__switch-label
    .pricing__switch-value:last-child {
    color: var(--primary-color);
}

.pricing__switch-input:not(:checked)
    + .pricing__switch-label
    .pricing__switch-value:first-child,
.pricing__switch-input:not(:checked)
    + .pricing__switch-label
    .pricing__switch-value:last-child.about,
.pricing__switch-input:checked
    + .pricing__switch-label
    .pricing__switch-value:last-child {
    pointer-events: none;
}

.pricing__sale-off {
    position: absolute;
    top: -10px;
    right: -24px;
    translate: 100% 0;
}

.pricing__list {
    display: flex;
    justify-content: space-between;
    column-gap: 44px;
    margin: 56px 88px 0;
}

.pricing-item {
    width: 302px;
    border-radius: 20px;
    background: #fff;
    padding: 30px 28px 43px;
    transition: box-shadow 0.25s ease;
}

.pricing-item--active {
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}

.pricing-item__type {
    color: #ff5b2e;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.pricing-item__heading {
    margin-top: 8px;
    color: #3f4065;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.pricing-item__price {
    margin-top: 24px;
    color: #000958;
    font-family: "Sora", sans-serif;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.03;
}

.pricing-item__btn {
    --height: 44px;

    margin-top: 22px;
    background: transparent;
    border-color: #ff5b2e99;
    font-weight: 500;
    color: var(--primary-color);
    min-width: initial;
    width: 100%;
    transition: color, background;
    transition-duration: 0.25s;
    border-color: var(--primary-color);
}
.pricing-item__btn--recommend {
    background: var(--primary-color);
    color: #fff;
}

.pricing-item__list {
    margin-top: 24px;
    padding-left: 3px;
}

.pricing-item__item + .pricing-item__item {
    margin-top: 18px;
}

.pricing-item__item {
    display: flex;
    align-items: center;
    column-gap: 14px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.pricing-item__item::before {
    content: url(../icons/price-check.svg);
}

.pricing-item:not(:last-child) .pricing-item__item:nth-child(n + 5)::before {
    content: url(../icons/price-disable-check.svg);
}

/* Review */
.review {
    padding: 53px 0;
}

.review__inner-top {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 44px;
    align-items: flex-end;
}

.review__control-wrap {
    height: 82%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review__control-wrap {
    flex-shrink: 0;
}

.review__control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border: 1.5px solid #ffd1c4;
    color: var(--primary-color);
    background: transparent;
    border-radius: 50%;
    flex-shrink: 0;
    transition: color 0.25s ease, box-shadow 0.25s ease;
}

.review__control:hover {
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: 0px 5px 27px 0px rgba(255, 91, 46, 0.3);
    cursor: pointer;
}

.review__content {
    overflow: hidden;
}

.review__list {
    display: flex;
}

.review-item {
    display: flex;
    column-gap: 115px;
    width: 100%;
    flex-shrink: 0;
}

.review-item__content {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.review-item__content-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 82%;
    flex: 1;
}

.review-item__media {
    position: relative;
    max-width: 274px;
    border-radius: 137px;
}

.review-item__media::after {
    position: absolute;
    content: "";
    height: 82%;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #ffda54;
    border-radius: inherit;
}

.review-item__img {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.review-item__quote {
    max-width: 553px;
    margin-top: 24px;
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.56; 
}

.review-item__author {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-top: 34px;
    color: #282828;
    font-family: 'Sora', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; 
}

.review-item__author::before {
    content: ""; 
    width: 20px;
    height: 2px;
    background: #000;
}

.review__dots {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.review__dot {
    --dimension: 8px; 

    width: var(--dimension);
    height: var(--dimension);
    border-radius: calc(var(--dimension) / 2);
    flex-shrink: 0;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.review__dot--active {
    width: calc(var(--dimension) * 3);
    background: var(--primary-color); 
    cursor: initial;
}